@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Pacifico&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Poppins,sans-serif;
    background:linear-gradient(135deg,#FFE4F2,#FFF9FC);
    text-align:center;
}

.hero{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.hero h1{
    font-family:Pacifico,cursive;
    color:#ff4f9b;
    font-size:55px;
}

.hero h2{
    margin-top:20px;
    color:#ff69b4;
    font-size:35px;
}

.hero p{
    margin-top:20px;
    max-width:600px;
    font-size:20px;
}

.btn{
    margin-top:30px;
    background:#ff69b4;
    color:white;
    padding:15px 35px;
    text-decoration:none;
    border-radius:40px;
    font-size:18px;
}

.btn:hover{
    background:#ff3b95;
}

#details{
    padding:80px 20px;
}

#countdown{
    margin-top:20px;
    font-size:25px;
    color:#ff1493;
}

#celebrate{
    margin-top:30px;
    padding:15px 35px;
    border:none;
    background:#ff69b4;
    color:white;
    border-radius:40px;
    cursor:pointer;
    font-size:18px;
}

.confetti{
    position:fixed;
    width:10px;
    height:20px;
    background:pink;
    top:-20px;
    animation:fall 4s linear forwards;
}

@keyframes fall{

from{
transform:translateY(-20px) rotate(0deg);
}

to{
transform:translateY(110vh) rotate(720deg);
}

}